* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 90px;
    align-items: center;
    /*background-color: #142d4c;*/
    color: #ececec;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Young Serif', serif;
    background-image: url('../img/cloud.jpg');
    background-repeat: no-repeat;
    background-position: 100% 1px;
    z-index: 1 !important;

}

header h1 {
    color: rgb(118, 250, 118);
    padding-left: 1em;
}

header nav {
    position: absolute;
    color: grey;
    right: 2em;
}

header a {
    color: white;
    text-decoration: none;
    
}

header a:hover {
    color: teal;
}


#landingpage {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 9em;
    height: 100vh;
    width: 100%;
    background-image: url('../img/naturetech2.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    isolation: isolate;
}

#landingpage h1 {
    margin-bottom: 2em;
}

#landingpage #buttons {
    font-size: large;
}

#landingpage #buttons a {
    margin: 0 3em 3em 3em;

}

#landingpage::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: rgb(1, 54, 1);
    opacity: .6;
}

.charts {
    background-image: url('../img/coding2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    text-align: center;
    padding-top: 90px;
}

.charts h2 {
    position: absolute;
    text-align: left;
    padding-left: 4em;
    top: 130px;
    width: 100%;
    z-index: 1;
}
#piechart {
    width: 900px; 
    height: 550px;
    /*margin-left: 17vw;*/
}


.getinfo {
    background-color:azure;
    padding-top: 10em;
    padding-bottom: 5em;
    text-align: center;
}

.getinfo input, .getinfo select {
    color: black;
    border: solid #9fd3c7;
    background-color: #ececec;
}

.getinfo input[type=submit] {
    color: white;
    border: solid #4CAF50;
    background-color: #4CAF50;
}

.cohortchooser {
    padding-top: 2em;
    background-color: white;
    text-align: center;
    margin-bottom: 5em;
}

.cohortchooser h1 {
    margin-bottom: 1em;
}

div.studentslist {
    text-align: center;
}

table + table {
    border-collapse: collapse;
}

table {
    margin: 0 auto;
    border: 2px solid black;
}

thead th, tbody td {
    border: 1px solid black;
}

.trainees th {
    text-align: center;
    color: white;
    background-color: #385170;
}

th, td {
    padding-right: 3em;
}

#earnedtable {
    padding-top: 150px;
}

.earned th {
    width: 100%;
    text-align: center;
    background-color: #385170;
    color: white;
}

td {
    padding-left: 5px;
    text-align: left; 
    background-color: #ececec;
}

tbody:nth-child(even) {
    background-color: white;
  }


div.registration {
    /*height: 50vh;*/
    font-family: 'Nunito', sans-serif;
    font-family: 'Young Serif', serif;
    text-align: center;
    padding: 8em 0 1em 0;
    width: 100%;
    /*height: 50%;*/
    background-color: azure;
    color: #321E1E;
    
}
#reg {
    background-color: azure;
    padding: 3em 0 3em 0;
}

div.registration h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.registration select option {
    color: black;
}

.registration input, .registration select {
    color: black;
    border: solid #9fd3c7;
}

.goback {
    margin-top: 3em;
    text-align: center;
}

.errormessage {
    margin-top: 150px;
    font-size: 16px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.errormessage h3 {
    margin-top: 30px;
}
