<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Green Tech</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/students.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Young+Serif&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
  </head>
  <body>
    <header class="header">
        <h1>Green Tech</h1>
        <nav>
          <a href="{% url 'students' %}">Report</a> |
          <a href="{% url 'resources' %}">Resources</a> |
          <a href="{% url 'help' %}">Help</a>
        </nav>
    </header>

    <div class="login-box">
        <h2>Weekly Report Form</h2>
        <form action="{% url 'students' %}" method="POST">
          <div class="user-box">
            <input type="text" name="name" required="">
            <label>Full name</label>
          </div>
          <div class="user-box">
            <div id="dropdown">
              <select name="cohort" id="cohort" required>
                <option value="cohort a">Cohort A</option>
                <option value="cohort b">Cohort B</option>
                <option value="cohort c">Cohort C</option>
                <option value="cohort d">Cohort D</option>
              </select>
            </div>
            <label for="cohort">Cohort</label>
          </div>
          <div class="user-box">
            <div id="dropdown">
              <select name="week" id="week" required>
                <option value="{{ week.report_week }}">{{ week.report_week }}</option>
              </select>
            </div>
            <label for="week">Report Week</label>
          </div>
          <div class="user-box">
            <input type="text" name="results" required="">
            <label>Achieved Results</label>
          </div>
          <div class="user-box">
            <input type="text" name="challenges" required="">
            <label>Challenges</label>
          </div>
          <div class="user-box">
            <input type="text" name="plans" required="">
            <label>Plans for coming week</label>
          </div>
          <a>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" style="color: white;">
          </a>
        </form>
      </div>

    {% block content %} {% endblock %}

  </body>
</html>