{% extends 'base.html' %}

{% load static %}

{% block content%}

<div class="registration" id="registration">
    <h2 class="regh1">Register trainees here:</h2>
    <div class="form">
        <form action="{% url 'registration' %}" method="POST">
            <label for="name">Full name:</label>
            <input type="text" id="name" name="name" required>
            <label for="cohort">Cohort:</label>
            <select name="cohort" id="cohort" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="moms">Moms</option>
                <option value="cheetah">Cheetah</option>
            </select>
            <label for="credly">Credly link:</label>
            <input type="text" id="credly" name="credly" required>
            <button type="button" class="btn btn-dark"><input type="submit" style="color: white; border: none;"></button>
        </form>
    </div>
</div>
{% endblock %}