{% extends 'base.html' %}

{% load static %}

{% block content%}

<div class="registration" id="registration">
    <h2 class="regh1">Register trainees here:</h2>
    <div class="form">
        <form action="{% url 'registration' %}" method="POST">
            <label for="name"></label>
            <input type="text" id="name" name="name" placeholder="Enter name..." required>
            <label for="cohort"></label>
            <select name="cohort" id="cohort" required>
                <option value="cohort a">Cohort A</option>
                <option value="cohort b">Cohort B</option>
                <option value="cohort c">Cohort C</option>
                <option value="cohort d">Cohort D</option>
            </select>
            <label for="credly"></label>
            <input type="text" id="credly" name="credly" placeholder="Enter credly link..." required> <br> <br>
            <button type="button" class="btn btn-success"><input type="submit" style="color: white; border: none;"></button>
        </form>
    </div>
</div>

<div class="registration" id="reg">
    <h2 class="regh1">Register resources here:</h2>
    <div class="form" id="form">
        <form action="{% url 'registration' %}" method="POST">
            <label for="name"></label>
            <input type="text" id="name" name="name" placeholder="Enter resource name..." required>
            <label for="link"></label>
            <input type="text" id="link" name="link" placeholder="Enter resource link..." required>
            <label for="descreption"></label>
            <input type="text" id="description" name="description" required> <br> <br>
            <button type="button" class="btn btn-success"><input type="submit" style="color: white; border: none;" placeholder="Enter description..."></button>
        </form>
    </div>
</div>
{% endblock %}